Repository stackitcloud/stackit-sdk-go, pull requests merged in 2025-05, with the labels that each got.

#2126 Update SDK
  examples/authentication/go.mod
  examples/authentication/go.sum
  examples/authorization/go.mod
  examples/authorization/go.sum
  examples/backgroundrefresh/go.mod
  examples/backgroundrefresh/go.sum
  examples/configuration/go.mod
  examples/configuration/go.sum
  examples/dns/go.mod
  examples/dns/go.sum
  examples/errorhandling/go.mod
  examples/errorhandling/go.sum
  examples/iaas/go.mod
  examples/iaas/go.sum
  examples/kms/go.mod
  examples/kms/go.sum
  examples/logme/go.mod
  examples/logme/go.sum
  examples/mariadb/go.mod
  examples/mariadb/go.sum
  examples/mongodbflex/go.mod
  examples/mongodbflex/go.sum
  examples/objectstorage/go.mod
  examples/objectstorage/go.sum
  examples/observability/go.mod
  examples/observability/go.sum
  examples/opensearch/go.mod
  examples/opensearch/go.sum
  examples/postgresflex/go.mod
  examples/postgresflex/go.sum
  examples/rabbitmq/go.mod
  examples/rabbitmq/go.sum
  examples/redis/go.mod
  examples/redis/go.sum
  examples/runtime/go.mod
  examples/runtime/go.sum
  examples/secretsmanager/go.mod
  examples/secretsmanager/go.sum
  examples/serviceenablement/go.mod
  examples/serviceenablement/go.sum
  examples/ske/go.mod
  examples/ske/go.sum
  examples/sqlserverflex/go.mod
  examples/sqlserverflex/go.sum
  examples/waiter/go.mod
  examples/waiter/go.sum
Labels: renovate

#1839 Update module golang.org/x/term to v0.31.0
  scripts/go.mod
  scripts/go.sum
Labels: renovate, do-not-merge

#1880 Update module github.com/go-git/go-git/v5 to v5.16.0
  scripts/go.mod
  scripts/go.sum
Labels: renovate

#2131 Update SDK to v1 (major)
  examples/loadbalancer/go.mod
  examples/loadbalancer/go.sum
  examples/mongodbflex/go.mod
  examples/mongodbflex/go.sum
Labels: renovate

#2130 Update module golang.org/x/term to v0.31.0
  scripts/go.mod
  scripts/go.sum
Labels: renovate

#2128 Update SDK
  examples/kms/go.mod
  examples/kms/go.sum
  examples/resourcemanager/go.mod
  examples/resourcemanager/go.sum
Labels: renovate

#2134 Update github.com/stackitcloud/stackit-sdk-go/services/kms digest to 902931e
  examples/kms/go.mod
  examples/kms/go.sum
Labels: renovate

#2132 Update module golang.org/x/crypto to v0.35.0 [SECURITY]
  scripts/go.mod
Labels: renovate, do-not-merge

#2210 Update module github.com/stackitcloud/stackit-sdk-go/services/ske to v0.22.4
  examples/ske/go.mod
  examples/ske/go.sum
Labels: renovate

#2372 Update SDK
  examples/authentication/go.mod
  examples/authentication/go.sum
  examples/backgroundrefresh/go.mod
  examples/backgroundrefresh/go.sum
  examples/configuration/go.mod
  examples/configuration/go.sum
  examples/dns/go.mod
  examples/dns/go.sum
  examples/errorhandling/go.mod
  examples/errorhandling/go.sum
  examples/kms/go.mod
  examples/kms/go.sum
  examples/loadbalancer/go.mod
  examples/loadbalancer/go.sum
  examples/logme/go.mod
  examples/logme/go.sum
  examples/mariadb/go.mod
  examples/mariadb/go.sum
  examples/mongodbflex/go.mod
  examples/mongodbflex/go.sum
  examples/observability/go.mod
  examples/observability/go.sum
  examples/opensearch/go.mod
  examples/opensearch/go.sum
  examples/rabbitmq/go.mod
  examples/rabbitmq/go.sum
  examples/redis/go.mod
  examples/redis/go.sum
  examples/resourcemanager/go.mod
  examples/resourcemanager/go.sum
  examples/serviceaccount/go.mod
  examples/serviceaccount/go.sum
  examples/serviceenablement/go.mod
  examples/serviceenablement/go.sum
  examples/ske/go.mod
  examples/ske/go.sum
  examples/sqlserverflex/go.mod
  examples/sqlserverflex/go.sum
  examples/waiter/go.mod
  examples/waiter/go.sum
Labels: renovate

#2180 chore: Add make help command
  Makefile
Labels: Stale

#2435 fix(deps): update module github.com/cloudflare/circl to v1.6.1
  scripts/go.mod
Labels: renovate

#2437 fix(deps): update module golang.org/x/crypto to v0.38.0
  scripts/go.mod
Labels: renovate

#2441 fix(deps): update sdk
  examples/authentication/go.mod
  examples/authentication/go.sum
  examples/authorization/go.mod
  examples/authorization/go.sum
  examples/backgroundrefresh/go.mod
  examples/backgroundrefresh/go.sum
  examples/configuration/go.mod
  examples/configuration/go.sum
  examples/dns/go.mod
  examples/dns/go.sum
  examples/errorhandling/go.mod
  examples/errorhandling/go.sum
  examples/iaas/go.mod
  examples/iaas/go.sum
  examples/kms/go.mod
  examples/kms/go.sum
  examples/loadbalancer/go.mod
  examples/loadbalancer/go.sum
  examples/logme/go.mod
  examples/logme/go.sum
  examples/mariadb/go.mod
  examples/mariadb/go.sum
  examples/mongodbflex/go.mod
  examples/mongodbflex/go.sum
  examples/objectstorage/go.mod
  examples/objectstorage/go.sum
  examples/observability/go.mod
  examples/observability/go.sum
  examples/opensearch/go.mod
  examples/opensearch/go.sum
  examples/postgresflex/go.mod
  examples/postgresflex/go.sum
  examples/rabbitmq/go.mod
  examples/rabbitmq/go.sum
  examples/redis/go.mod
  examples/redis/go.sum
  examples/resourcemanager/go.mod
  examples/resourcemanager/go.sum
  examples/runtime/go.mod
  examples/runtime/go.sum
  examples/secretsmanager/go.mod
  examples/secretsmanager/go.sum
  examples/serviceaccount/go.mod
  examples/serviceaccount/go.sum
  examples/serviceenablement/go.mod
  examples/serviceenablement/go.sum
  examples/ske/go.mod
  examples/ske/go.sum
  examples/sqlserverflex/go.mod
  examples/sqlserverflex/go.sum
  examples/waiter/go.mod
  examples/waiter/go.sum
Labels: renovate
